@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Domine:400,700);

body{
    background-image: url("pattern.png");
    background-repeat: repeat;
}

.sector_head{
    font-family: 'Domine', serif;
    font-size: 48px;
    font-weight:400;
    margin-bottom: 0;
}

.division{
    background-color: #3B3B3B;
    height: 1px;
}

p{
    font-family: 'Titillium Web'sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

#input{
    margin-left: 15px;
}

#game_message{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 45px;
    display: none;
}

.css_btn_class {
    font-size:12px;
    font-family:'Titillium Web', sans-serif;
    font-weight: 600;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #dbdbdb;
    padding:5px 8px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #e3e3e3 5%, #ebebeb 100% );
    background:-ms-linear-gradient( top, #e3e3e3 5%, #ebebeb 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#ebebeb');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #e3e3e3), color-stop(100%, #ebebeb) );
    background-color:#e3e3e3;
    color:#a1a1a1;
    display:inline-block;
    text-shadow:1px 1px 0px #ffffff;
    -webkit-box-shadow: 6px 26px 50px 0px #fafafa;
    -moz-box-shadow: 6px 26px 50px 0px #fafafa;
    box-shadow: 6px 26px 50px 0px #fafafa;
}.css_btn_class:hover {
    background:-moz-linear-gradient( center top, #ebebeb 5%, #e3e3e3 100% );
    background:-ms-linear-gradient( top, #ebebeb 5%, #e3e3e3 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#e3e3e3');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ebebeb), color-stop(100%, #e3e3e3) );
    background-color:#ebebeb;
}.css_btn_class:active {
    position:relative;
    top:1px;
}

